package-db: C:\Users\bkovach.CAESAD\Documents\MathNotes\Sokoban\cabal-dev\packages-7.4.2.conf
local-repo: C:\Users\bkovach.CAESAD\Documents\MathNotes\Sokoban\cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: C:\Users\bkovach.CAESAD\AppData\Roaming\cabal\packages
world-file: C:\Users\bkovach.CAESAD\AppData\Roaming\cabal\world
build-summary: C:\Users\bkovach.CAESAD\Documents\MathNotes\Sokoban\cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: C:\Users\bkovach.CAESAD\Documents\MathNotes\Sokoban\cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: C:\Users\bkovach.CAESAD\Documents\MathNotes\Sokoban\cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid